<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn Clocks</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
    />
    <link rel="stylesheet" href="{% static 'clock/css/styles.css' %}" />
  </head>
  <body>
    <div>
      <select id="levelSelect" class="button" onchange="generateRandomTime()">
        <option value="1">Level 1</option>
        <option value="2">Level 2</option>
        <option value="3">Level 3</option>
        <option value="4">Level 4</option>
      </select>
      <button
        id="reloadBtn"
        class="button"
        onclick="resetUI(); generateRandomTime();"
        style="margin-left: 10px"
      >
        &#x21bb;
        <!-- Unicode character for reload icon -->
      </button>
    </div>

    <!-- The actual drawing buffer is 800×800 pixels -->
    <div class="container">
      <canvas id="clockCanvas" width="800" height="800"></canvas>

      <div class="controls">
        <input type="text" id="timeInput" placeholder="Choose Time" />
        <button
          id="validateBtn"
          onclick="validateTime()"
          class="button validate"
        >
          Check
        </button>
        <p id="message" class="message text"></p>

        <div class="buttons">
          <button
            id="viewAnswer"
            onclick="showAnswer()"
            class="button"
            style="display: none"
          >
            View Answer
          </button>
          <button
            id="retry"
            onclick="retrySameTime()"
            class="button retry"
            style="display: none"
          >
            Retry
          </button>
          <button
            id="tryAgain"
            onclick="generateRandomTime()"
            class="button"
            style="display: none"
          >
            Try More
          </button>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
      flatpickr("#timeInput", {
        enableTime: true,
        noCalendar: true,
        dateFormat: "h:i", 
        time_24hr: false, 
      });
    </script>
    <script src="{% static 'clock/js/clock.js' %}"></script>
  </body>
</html>
